<div class="modal-header text-center">
  <h3 class="modal-title">
      Usuario
        <button type="button" class="close"
        ng-click="vm.cancel()">&times;</button>
    </h3>
</div>
<div class="modal-body">

  <pre> usuarios:{{usuarios |json}}</pre>
  <pre> Usuario:{{usuario |json}}</pre>
  <form name="usuarioForm" novalidate ng-submit="guardar(usuarioForm)">
    <div class="row form-group">
      <div class="col-md-5">
        <label class="control-label" for="nombre">Nombre</label>
        <input autofocus autocomplete="off" required type="text" id="nombre"
        name="nombre" class="form-control" ng-model="usuario.nombre" placeholder="Nombre"
        ng-minlength="3"
            ng-maxlength="10">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-5" >
        <label class="control-label" for="apellidoPaterno">Apellido</label>
        <input autofocus autocomplete="off" required type="text" id="apellidoPaterno" name="apellidoPaterno" class="form-control" ng-model="usuario.apellidoPaterno" placeholder="apellidoPaterno">

      </div>
    </div>


    <div class="row form-group">
      <div class="col-md-5" >
        <label class="control-label" for="dni">DNI</label>
        <input autofocus autocomplete="off" required type="number" id="dni" name="dni" class="form-control" ng-model="usuario.dni" placeholder="dni">

      </div>
    </div>


    <div class="row form-group">
      <div class="col-md-5">
        <label class="control-label" for="telefono">Telefono</label>
        <input autofocus autocomplete="off" required type="number" id="telefono" name="telefono" class="form-control" ng-model="usuario.celular" placeholder="telefono">

      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-5" >
        <label class="control-label" for="email">Email</label>
        <input autofocus autocomplete="off" required type="email" id="email" name="email" class="form-control" ng-model="usuario.correo" placeholder="email">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary btn-block" type="submit">Guardar</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-warning btn-block" type="button" ng-click="vm.cancel()">Cancelar</button>
      </div>
    </div>

  </form>

  </div>

<!--<div class="modal-header text-center">
  <h3 class="modal-title">
      Usuario
        <button type="button" class="close"
        ng-click="vm.cancel()">&times;</button>
    </h3>
</div>
<div class="modal-body">

  <pre> usuarios:{{usuarios |json}}</pre>
  <pre> Usuario:{{usuario |json}}</pre>
  <form name="usuarioForm" novalidate ng-submit="guardar(usuarioForm)">
    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': usuarioForm.nombre.$dirty &&  usuarioForm.nombre.$invalid || usuarioForm.$submitted &&  usuarioForm.nombre.$invalid, 'has-success': usuarioForm.nombre.$valid}">
        <label class="control-label" for="nombre">Nombre</label>
        <input autofocus autocomplete="off" required type="text" id="nombre" name="nombre" class="form-control" ng-model="usuario.nombre" placeholder="Nombre">
        <div class="text-danger" ng-show="usuarioForm.nombre.$dirty &&  usuarioForm.nombre.$invalid || usuarioForm.$submitted &&  usuarioForm.nombre.$invalid" ng-messages="usuarioForm.nombre.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>

      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': usuarioForm.apellidoPaterno.$dirty &&  usuarioForm.apellidoPaterno.$invalid || usuarioForm.$submitted &&  usuarioForm.apellidoPaterno.$invalid, 'has-success': usuarioForm.apellidoPaterno.$valid}">
        <label class="control-label" for="apellidoPaterno">Apellido</label>
        <input autofocus autocomplete="off" required type="text" id="apellidoPaterno" name="apellidoPaterno" class="form-control" ng-model="usuario.apellidoPaterno" placeholder="apellidoPaterno">
        <div class="text-danger" ng-show="usuarioForm.apellidoPaterno.$dirty &&  usuarioForm.apellidoPaterno.$invalid || usuarioForm.$submitted &&  usuarioForm.apellidoPaterno.$invalid" ng-messages="usuarioForm.apellidoPaterno.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>
      </div>
    </div>


    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': usuarioForm.dni.$dirty &&  usuarioForm.dni.$invalid || usuarioForm.$submitted &&  usuarioForm.dni.$invalid, 'has-success': usuarioForm.dni.$valid}">
        <label class="control-label" for="dni">DNI</label>
        <input autofocus autocomplete="off" required type="number" id="dni" name="dni" class="form-control" ng-model="usuario.dni" placeholder="dni">
        <div class="text-danger" ng-show="usuarioForm.dni.$dirty &&  usuarioForm.dni.$invalid || usuarioForm.$submitted &&  usuarioForm.dni.$invalid" ng-messages="usuarioForm.dni.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>
      </div>
    </div>


    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': usuarioForm.telefono.$dirty &&  usuarioForm.telefono.$invalid || usuarioForm.$submitted &&  usuarioForm.telefono.$invalid, 'has-success': usuarioForm.telefono.$valid}">
        <label class="control-label" for="telefono">Telefono</label>
        <input autofocus autocomplete="off" required type="number" id="telefono" name="telefono" class="form-control" ng-model="usuario.celular" placeholder="telefono">
        <div class="text-danger" ng-show="usuarioForm.telefono.$dirty &&  usuarioForm.telefono.$invalid || usuarioForm.$submitted &&  usuarioForm.telefono.$invalid" ng-messages="usuarioForm.telefono.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': usuarioForm.email.$dirty &&  usuarioForm.email.$invalid || usuarioForm.$submitted &&  usuarioForm.email.$invalid, 'has-success': usuarioForm.email.$valid}">
        <label class="control-label" for="email">Email</label>
        <input autofocus autocomplete="off" required type="email" id="email" name="email" class="form-control" ng-model="usuario.correo" placeholder="email">
        <div class="text-danger" ng-show="usuarioForm.email.$dirty &&  usuarioForm.email.$invalid || usuarioForm.$submitted &&  usuarioForm.email.$invalid" ng-messages="usuarioForm.email.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary btn-block" type="submit">Guardar</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-warning btn-block" type="button" ng-click="vm.cancel()">Cancelar</button>
      </div>
    </div>

  </form>

  </div>
