PLANTILLA DE USUARIO

<button type="button" ng-click="crear()"
class="btn btn-primary">Nuevo</button>



<pre>Datos del fronend{{data|json}}</pre>

<pre>Datos back{{usuarios|json}}</pre>



<table class="table">
  <thead>
    <th>
      ID
    </th>
    <th>
      Nombre
    </th>
    <th>
      Apellido Paterno
    </th>
    <th>
      DNI
    </th>
    <th>
      EMAIL
    </th>
    <th>
      Celular
    </th>
    <th>
      Aciones
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="u in usuarios ">
      <td>{{u.id}}</td>
      <td>{{u.nombre}}</td>
      <td>{{u.apellidoPaterno}}</td>
      <td>{{u.dni}}</td>
      <td>{{u.correo}}</td>
      <td>{{u.celular}}</td>

      <td>
        <button type="button" ng-click="editar(u)">
          Editar
        </button>
      </td>
    </tr>
  </tbody>
</table>
