<div class="card text-center" style="width: 18rem; margin-left:50px;">
<div class="card-header">
MENU
</div>
<ul class="list-group list-group-flush">
<li class="list-group-item" ui-sref="app.productos"><a href="">Producto</a></li>
<li class="list-group-item" ui-sref="app.cliente"><a href="">Cliente</a></li>
<li class="list-group-item" ui-sref="app.facturas"><a href="">Factura</a></li>
<li class="list-group-item" ui-sref="app.usuario"><a href="">Usuario</a></li>
</ul>
</div>
