<div class="modal-header text-center">
  <h3 class="modal-title">
      TITULO
        <button type="button" class="close"
        ng-click="vm.cancel()">&times;</button>
    </h3>
</div>
<div class="modal-body">
  <pre>$scope.producto:{{producto|json}}</pre>
  <pre>productoForm.$valid:{{productoForm.$valid}}</pre>

<!--

  <pre>productoForm.$submitted:{{productoForm.$submitted}}</pre>
  <hr>
  <pre>productoForm.nombre.$touched:{{productoForm.nombre.$touched}}</pre>
  <pre>productoForm.nombre.$dirty:{{productoForm.nombre.$dirty}}</pre>
  <pre>productoForm.nombre.$valid:{{productoForm.nombre.$valid}}</pre>
  <pre>productoForm.nombre.$error:{{productoForm.nombre.$error}}</pre> ng-maxlength="3"
-->

  <form name="productoForm" novalidate ng-submit="guardar(productoForm)">
    <div class="row form-group">
      <!--<div class="col-md-3 has-error">-->
      <div class="col-md-3" ng-class="{'has-error': productoForm.nombre.$dirty&&productoForm.nombre.$touched&&productoForm.nombre.$invalid || productoForm.nombre.$invalid && productoForm.$submitted  ,
            'has-success':productoForm.nombre.$valid}">
        <label for="nombreId" class="control-label">Nombre</label>
        <input name="nombre" id="nombreId" required ng-minlength="3" ng-model="producto.nombre" type="text" class="form-control">
        <div class="text-danger" ng-show="productoForm.nombre.$dirty&&productoForm.nombre.$touched&&productoForm.nombre.$invalid || productoForm.nombre.$invalid && productoForm.$submitted" ng-messages="productoForm.nombre.$error">
          <p ng-message="required">Dato Requerido.</p>
          <p ng-message="minlength">minlengthsssssss.</p>
        </div>
      </div>
      <div class="col-md-3">
        <label for="fecha">Fecha</label>
        <input id="fecha" ng-model="producto.fecha" type="date" class="form-control" name="fecha">
      </div>
    </div>
    <pre>productoForm.price.$error:{{productoForm.price.$error}}</pre>
    <div class="row form-group">
      <div class="col-md-12" ng-class="{'has-error': productoForm.price.$dirty&&productoForm.price.$touched&&productoForm.price.$invalid || productoForm.price.$invalid && productoForm.$submitted  ,
            'has-success':productoForm.price.$valid}">
        <label for="priceId" class="control-label">Precio</label>
        <input name="price" id="priceId" ng-min="0" required  ng-model="producto.precio" type="number" class="form-control">
        <div class="text-danger" ng-show="productoForm.price.$dirty&&productoForm.price.$touched&&productoForm.price.$invalid || productoForm.price.$invalid && productoForm.$submitted" ng-messages="productoForm.price.$error">
          <p ng-message="required">Dato Requerido.</p>
          <p ng-message="number">Formato invalido.</p>
          <p ng-message="min">EL valor mayor que 0.</p>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-success btn-block" type="submit">Guardar</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-warning btn-block" type="button">Cancelar</button>
      </div>
    </div>
  </form>



</div>
