PLANTILLA FACTURA

<button type="button" ng-click="crear()"
class="btn btn-primary">Nuevo</button>



<pre>Datos del fronend{{data|json}}</pre>

<pre>Datos back{{productos|json}}</pre>



<table class="table">
  <thead>
    <th>
      Nombre
    </th>
    <th>
      Precio
    </th>
    <th>
      Acciones
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="prod in productos ">
      <td>{{prod.nombre}}</td>
      <td>{{prod.precio}}</td>
      <td>
        <button type="button" ng-click="editar(prod)">
          Editar
        </button>
      </td>
    </tr>
  </tbody>
</table>
