AT
<!--<pre>{{productos|json}}</pre>-->
<!-- ctrl+alt+B-->
<pre>productos{{productos|json}}</pre>
<pre>producto:{{producto|json}}</pre>

<form name="productoForm" novalidate ng-submit="guardar(productoForm)">
  <div class="row form-group">
    <div class="col-md-5" ng-class="{'has-error': productoForm.nombre.$dirty &&  productoForm.nombre.$invalid || clienteForm.$submitted &&  productoForm.nombre.$invalid, 'has-success': productoForm.nombre.$valid}">
      <label class="control-label" for="nombre">Nombre</label>
      <input autofocus autocomplete="off" required type="text" id="nombre" name="nombre" class="form-control" ng-model="producto.nombre" placeholder="Nombre">
      <div class="text-danger" ng-show="productoForm.nombre.$dirty &&  productoForm.nombre.$invalid || productoForm.$submitted &&  productoForm.nombre.$invalid" ng-messages="productoForm.nombre.$error">
        <p ng-message="required">Dato Requerido.</p>
      </div>
    </div>

    <div class="col-md-3">
      <label for="">Fecha</label>
      <input ng-model="producto.fecha" type="date" class="form-control" name="fecha">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-5" ng-class="{'has-error': productoForm.precio.$dirty &&  productoForm.precio.$invalid || clienteForm.$submitted &&  productoForm.precio.$invalid, 'has-success': productoForm.precio.$valid}">
      <label class="control-label" for="precio">Precio</label>
      <input autofocus autocomplete="off" required type="number" id="precio" name="precio" class="form-control" ng-model="producto.precio" placeholder="precio">
      <div class="text-danger" ng-show="productoForm.precio.$dirty &&  productoForm.precio.$invalid || productoForm.$submitted &&  productoForm.precio.$invalid" ng-messages="productoForm.precio.$error">
        <p ng-message="required">Dato Requerido.</p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-success btn-block" type="submit">Guardar</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-warning btn-block" type="reset">Limpiar</button>
    </div>
  </div>
</form>


<table class="table">
  <thead>
    <th>
      Nombre
    </th>
    <th>
      Precio
    </th>
    <th>
      Acciones
    </th>
  </thead>
  <tbody>
    <tr ng-repeat="prod in productos ">
      <td>{{prod.nombre}}</td>
      <td>{{prod.precio}}</td>
      <td>
        <button type="button" ng-click="editar(prod)">
          Editar
        </button>
      </td>
    </tr>
  </tbody>
</table>
