<!DOCTYPE html>
<html lang="en" ng-app="practica">

<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{app.description}}">
	<title data-ng-bind="::pageTitle()">Practica 0</title>

<!--	<title ncy-breadcrumb-text="Sample app : {{ncyBreadcrumbChain}}"></title>-->

<link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.css" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css({.tmp/serve,src}) styles/vendor.css -->
	<!-- bower:css -->
	<!-- run `gulp inject` to automatically populate bower styles dependencies -->
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css({.tmp/serve,src}) styles/app.css -->
	<!-- inject:css -->
	<!-- css files will be automatically insert here -->
	<!-- endinject -->
	<!-- endbuild -->


</head>

<body>


<div class="row">
	<div class="col-md-12" ui-view="navegador">
	NAVEGADOR
	</div>


	<div class="col-md-3" ui-view="menu" >
		MENU
	</div>

	<div class="col-md-6 " ui-view="at">
	area de trabajo
	</div>

	<div class="col-md-3 text-center" ui-view="contacto" >
		Contacto
	</div>

<div class="col-md-12" ui-view="pie">
	EL FOOTER
</div>
</div>





	<!-- build:js(src) scripts/vendor.js -->
	<!-- bower:js -->
	<!-- run `gulp inject` to automatically populate bower script dependencies -->
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
	<!-- inject:js -->
	<!-- js files will be automatically insert here -->
	<!-- endinject -->

	<!-- inject:partials -->
	<!-- angular templates will be automatically converted in js and inserted here -->
	<!-- endinject -->
	<!-- endbuild -->
</body>

</html>
