<div class="modal-header">
  <h2 class="modal-title">Nueva Producto</h2>
</div>
<div class="modal-body">

  <pre> Clientes:{{clientes |json}}</pre>
  <pre> Cliente:{{cliente |json}}</pre>
  <form name="clienteForm" novalidate ng-submit="save(clienteForm)">
    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': clienteForm.nombre.$dirty &&  clienteForm.nombre.$invalid || clienteForm.$submitted &&  clienteForm.nombre.$invalid, 'has-success': clienteForm.nombre.$valid}">
        <label class="control-label" for="nombre">Nombre</label>
        <input autofocus autocomplete="off" required type="text" id="nombre" name="nombre" class="form-control" ng-model="cliente.nombre" placeholder="Nombre">
        <div class="text-danger" ng-show="clienteForm.nombre.$dirty &&  clienteForm.nombre.$invalid || clienteForm.$submitted &&  clienteForm.nombre.$invalid" ng-messages="clienteForm.nombre.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': clienteForm.apellido.$dirty &&  clienteForm.apellido.$invalid || clienteForm.$submitted &&  clienteForm.apellido.$invalid, 'has-success': clienteForm.apellido.$valid}">
        <label class="control-label" for="apellido">Apellido</label>
        <input autofocus autocomplete="off" required type="text" id="apellido" name="apellido" class="form-control" ng-model="cliente.apellido" placeholder="apellido">
        <div class="text-danger" ng-show="clienteForm.apellido.$dirty &&  clienteForm.apellido.$invalid || clienteForm.$submitted &&  clienteForm.apellido.$invalid" ng-messages="clienteForm.apellido.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>
      </div>
    </div>


    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': clienteForm.dni.$dirty &&  clienteForm.dni.$invalid || clienteForm.$submitted &&  clienteForm.dni.$invalid, 'has-success': clienteForm.dni.$valid}">
        <label class="control-label" for="apellido">DNI</label>
        <input autofocus autocomplete="off" required type="number" id="dni" name="dni" class="form-control" ng-model="cliente.dni" placeholder="dni">
        <div class="text-danger" ng-show="clienteForm.dni.$dirty &&  clienteForm.dni.$invalid || clienteForm.$submitted &&  clienteForm.dni.$invalid" ng-messages="clienteForm.dni.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>
      </div>
    </div>


    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': clienteForm.telefono.$dirty &&  clienteForm.telefono.$invalid || clienteForm.$submitted &&  clienteForm.telefono.$invalid, 'has-success': clienteForm.telefono.$valid}">
        <label class="control-label" for="telefono">Telefono</label>
        <input autofocus autocomplete="off" required type="number" id="telefono" name="telefono" class="form-control" ng-model="cliente.telefono" placeholder="telefono">
        <div class="text-danger" ng-show="clienteForm.telefono.$dirty &&  clienteForm.telefono.$invalid || clienteForm.$submitted &&  clienteForm.telefono.$invalid" ng-messages="clienteForm.telefono.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-5" ng-class="{'has-error': clienteForm.email.$dirty &&  clienteForm.email.$invalid || clienteForm.$submitted &&  clienteForm.email.$invalid, 'has-success': clienteForm.email.$valid}">
        <label class="control-label" for="email">Email</label>
        <input autofocus autocomplete="off" required type="email" id="email" name="email" class="form-control" ng-model="cliente.email" placeholder="email">
        <div class="text-danger" ng-show="clienteForm.email.$dirty &&  clienteForm.email.$invalid || clienteForm.$submitted &&  clienteForm.email.$invalid" ng-messages="clienteForm.email.$error">
          <p ng-message="required">Dato Requerido.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary btn-block" type="submit">Guardar</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-warning btn-block" type="button" ng-click="vm.cancel()">Cancelar</button>
      </div>
    </div>
  </form>

  </div>

  <table class="table">
    <thead>
      <th>
        Nombre
      </th>
      <th>
        Apellido
      </th>
      <th>
        DNI
      </th>
      <th>
        Telefono
      </th>
      <th>
        Email
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="cli in clientes ">
        <td>{{cli.nombre}}</td>
        <td>{{cli.apellido}}</td>
        <td>{{cli.dni}}</td>
        <td>{{cli.telefono}}</td>
        <td>{{cli.email}}</td>
        <td>
          <button type="button" class="btn btn-danger" ng-click="editar(cli)">editar</button>
        </td>
      </tr>
    </tbody>
  </table>
